pandas==1.5.3
numpy
scipy
textblob==0.17.1
nltk==3.7
matplotlib==3.5.3
seaborn==0.11.2
python-dotenv==0.19.2
pyarrow==10.0.1
scikit-learn==1.2.2
transformers==4.31.0
torch
ptitprince==0.2.6
pylatex
vaderSentiment==3.3.2
google-generativeai==0.3.1
jsonl
pytest==8.2.0